@import url('https://fonts.googleapis.com/css2?family=Glegoo&family=Gothic+A1:wght@200&display=swap');

body {
  font-family: 'Glegoo', serif;
}

.container {
  position: absolute;
  /* width: calc(50% - 40px); */
  width: 50%;
  top: 0px;
  padding-top: 40px;
}

.article {
  /* background-color: red; */
  left: 0px;
}

.response {
  background-color: rgb(34, 34, 34);
  /* background-color: rgb(235, 235, 235); */
  right: 0px;
  color: white;
  /* height: 200%; */
}

h1 {
  font-size: 2.75vw;
  line-height: 3.2vw;
  text-align: center;
}

h2 {
  font-size: 1.75vw;
  text-align: center;
  margin-top: -1.5vw;
}

h2 {
  font-size: 1.75vw;
  text-align: center;
  margin-top: -1.5vw;
}

p {
  margin-top: 25px;
  max-width: 45ch;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.45vw;
  line-height: 2.2vw;
  font-family: sans-serif;
  font-family: 'Gothic A1', sans-serif;
  /* white-space: normal; */
  /* ch is characters */
}

.tag {
  width: 30vw;
  /* height: ; */
  padding: 30px;
  border: 1.5px solid black;
  border-radius: 100px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

.subtitle {
  margin-top: 40px;
  height: 40px;
}

.subtitle2 {
  margin-top: 40px;
  height: 40px;
  border: 1.5px solid white;
}

.title2 {
  color: white;
  border: 1.5px solid white;
}

a {
  color: rgb(161, 161, 161);
  text-decoration: underline;
}

a:hover {
  color: red;
}

em {
  font-style: italic;
}

blockquote {
  font-size: 1.45vw;
  line-height: 2.2vw;
  font-family: 'Gothic A1', sans-serif;
  font-style: italic;
  max-width: 45ch;
  margin-top: 2vw;
  margin-left: auto;
  margin-right: auto;
}

.quote {
}

main {
  padding: 48px;
  /* pushing the text over to the right */
}

.vertical-line {
  width: 1px;
  height: 10990px;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

sup {
  vertical-align: super;
  font-size: smaller;
}
