@import url('https://fonts.googleapis.com/css2?family=Glegoo&family=Gothic+A1:wght@200&display=swap');

body {
  font-family: 'Glegoo', serif;
  height: 100%;
  background-color: white;
  color: white;
}

.container {
  position: absolute;
  /* width: calc(50% - 40px); */
  width: 50%;
  top: 0px;
  padding-top: 40px;
}

.article {
  /* background-color: red; */
  left: 0px;
  background-color: rgb(34, 34, 34);
}

.response {
  background-color: white;
  /* background-color: rgb(235, 235, 235); */
  right: 0px;
  color: rgb(34, 34, 34);
}

.black-bkg {
  background-color: white;
}

h1 {
  font-size: 2.75vw;
  line-height: 3.2vw;
  text-align: center;
}

h2 {
  font-size: 1.75vw;
  text-align: center;
  margin-top: -1.5vw;
}

h3 {
  font-size: 1.25vw;
  text-align: center;
  margin-top: -1.2vw;
}

p {
  margin-top: 25px;
  max-width: 45ch;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.45vw;
  line-height: 2.5vw;
  font-family: sans-serif;
  font-family: 'Gothic A1', sans-serif;
  /* white-space: normal; */
  /* ch is characters */
}

.tag {
  width: 34vw;
  /* height: ; */
  padding: 30px;
  border: 1.5px solid white;
  border-radius: 100px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

.subtitle {
  margin-top: 40px;
  height: 40px;
}

.subtitle2 {
  margin-top: 40px;
  height: 40px;
  border: 1.5px solid black;
}

.title2 {
  color: black;
  border: 1.5px solid black;
}

a {
  color: rgb(161, 161, 161);
  text-decoration: underline;
}

a:hover {
  color: red;
}

em {
  font-style: italic;
}

blockquote {
  font-size: 1.45vw;
  line-height: 2.5vw;
  font-family: 'Gothic A1', sans-serif;
  font-style: italic;
  max-width: 45ch;
  margin-top: 5vw;
  margin-left: auto;
  margin-right: auto;
}

main {
  padding: 48px;
  /* pushing the text over to the right */
}

.vertical-line {
  width: 1px;
  height: 100%;
  background-color: black;
  /* margin-left: auto;
  margin-right: auto; */
  /* margin-top: 30px; */
  position: fixed;
  right: 25%;
}

sup {
  vertical-align: super;
  font-size: smaller;
}

.responsefirstpar {
  margin-top: 1.1vw;
}

.articlefirstpar {
  margin-top: 1vw;
}

.line {
  width: 100px;
  height: 1.5px;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  margin-top: 55px;
}

.footnotes {
  margin-top: 30px;
  height: 10px;
  padding: 22px;
}

.footnote-text {
  font-size: 1.2vw;
  line-height: 2vw;
  max-width: 54ch;
  margin-bottom: 0.75vw;
}

.last-footnote {
  margin-bottom: 5vw;
}

.backtotop {
  text-align: center;
  font-size: 1.5vw;
  border: 1.5px solid black;
  width: 3vw;
  height: 3vw;
  position: fixed;
  bottom: 0px;
  right: 0px;
  margin: 20px;
  padding: 0px;
  text-decoration: none;
  color: black;
}


.switch{
    text-align: center;
    font-size: 0.8vw;
    line-height: 2.7vw;
    border: 1.5px solid white;
    width: 5vw;
    height: 3vw;
    position: fixed;
    top: 0px;
    left: 0px;
    margin: 20px;
    padding: 0px;
    text-decoration: none;
    color: black;
    border: 1px solid white;
  }